<!doctype html>
<html>
    <head>
        <title>Chicago Crime Details</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <style>
    .spacer {
        height: 60px;
    }
    </style>
    <body>
        <center>
            <h1>Chicago Crime Details - Crime Types (Dec. 2004 - Dec. 2014)</h1>
            <h4><a href="/">Home</a></h4>
            <br>
            <h4><a href="/crime">Crimes in Public Areas</a> | <a href = "/crimeResidential">Crimes in Residential Areas</a> | <a href = "/crimeStores">Crimes in Stores and Restaurants</a></h4>
            <br>
            <h4>Types of Crime: <a href="/crimeTypes1">Page 1</a> | <a href = "/crimeTypes2">Page 2</a> | <a href = "/crimeTypes3">Page 3</a> | <a href = "/crimeTypes4">Page 4</a></h4>
            <br>
            <h4><a href="/crimeTotal">Total Number of Crimes</a></h4>

        </center>

		<div id="containerCRIMINAL_TRESPASS" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="spacer"></div>
		<div id="containerDECEPTIVE_PRACTICE" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="spacer"></div>
		<div id="containerGAMBLING" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="spacer"></div>
		<div id="containerINTERFERENCE_WITH_PUBLIC_OFFICER" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="spacer"></div>
		<div id="containerLIQUOR_LAW_VIOLATION" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

		<script>
	        $(document).ready(function () {

				//Criminal Trespass
				window.chart1 = new Highcharts.stockChart({
	                chart: {
	                    renderTo: "containerCRIMINAL_TRESPASS"
	                },
	                title: {
	                    text: 'Criminal Trespass'
	                },
	                xAxis: {
	                    type: 'datetime',
	                    dateTimeLabelFormats: {
	                        month: '%e. %b, %Y',
	                        year: '%Y'
	                    },
	                    title: {
	                        text: 'Date'
	                    }
	                },
	                yAxis: {
	                    title: {
	                        text: 'Number of Crimes'
	                    },
	                    min: 0,
	                    crosshair: true
	                },
	                rangeSelector: {
	                    selected: 1
	                },
	                tooltip: {
	                    formatter: function () {
	                        return '<b>Criminal Trespass</b><br/>' +
	                            Highcharts.dateFormat('%Y-%b-%e', this.x) + '<br/>' +
	                            Highcharts.numberFormat(this.y, 2);
	                    },
	                    headerFormat: '<b>{series.name}</b><br>'
	                },
	                plotOptions: {
	                    series: {
	                        connectNulls: true
	                    }
	                },

	                series: [{
	                    name: "Criminal Trespass",
	                    data: (function () {
	                        var dataPoints = [];
	                        var urlString = "crimedata/dataField";
	                        urlString = urlString.replace("dataField","Type_CRIMINAL_TRESPASS");
	                        //Use "ajax" instead of "getJSON"; "getJSON" runs code asynchronously, so returning "dataPoints" may return empty array if it runs before getJSON function (probable case)
	                            $.ajax({
	                                async: false,
	                                url: urlString,
	                                success: function(data){
	                                    //
	                                    var i;
	                                    
	                                    for (i = 0; i < data.length; i++) {
	                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i].Type_CRIMINAL_TRESPASS]);
	                                    }
	                                }
	                            })
	                        return dataPoints;
	                    }())
	                }]
	            });
				//Deceptive Practice
				window.chart2 = new Highcharts.stockChart({
	                chart: {
	                    renderTo: "containerDECEPTIVE_PRACTICE"
	                },
	                title: {
	                    text: 'Deceptive Practice'
	                },
	                xAxis: {
	                    type: 'datetime',
	                    dateTimeLabelFormats: {
	                        month: '%e. %b, %Y',
	                        year: '%Y'
	                    },
	                    title: {
	                        text: 'Date'
	                    }
	                },
	                yAxis: {
	                    title: {
	                        text: 'Number of Crimes'
	                    },
	                    min: 0,
	                    crosshair: true
	                },
	                rangeSelector: {
	                    selected: 1
	                },
	                tooltip: {
	                    formatter: function () {
	                        return '<b>Deceptive Practice</b><br/>' +
	                            Highcharts.dateFormat('%Y-%b-%e', this.x) + '<br/>' +
	                            Highcharts.numberFormat(this.y, 2);
	                    },
	                    headerFormat: '<b>{series.name}</b><br>'
	                },
	                plotOptions: {
	                    series: {
	                        connectNulls: true
	                    }
	                },

	                series: [{
	                    name: "Deceptive Practice",
	                    data: (function () {
	                        var dataPoints = [];
	                        var urlString = "crimedata/dataField";
	                        urlString = urlString.replace("dataField","Type_DECEPTIVE_PRACTICE");
	                        //Use "ajax" instead of "getJSON"; "getJSON" runs code asynchronously, so returning "dataPoints" may return empty array if it runs before getJSON function (probable case)
	                            $.ajax({
	                                async: false,
	                                url: urlString,
	                                success: function(data){
	                                    //
	                                    var i;
	                                    
	                                    for (i = 0; i < data.length; i++) {
	                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i].Type_DECEPTIVE_PRACTICE]);
	                                    }
	                                }
	                            })
	                        return dataPoints;
	                    }())
	                }]
	            });
				//Gambling
				window.chart3 = new Highcharts.stockChart({
	                chart: {
	                    renderTo: "containerGAMBLING"
	                },
	                title: {
	                    text: 'Gambling'
	                },
	                xAxis: {
	                    type: 'datetime',
	                    dateTimeLabelFormats: {
	                        month: '%e. %b, %Y',
	                        year: '%Y'
	                    },
	                    title: {
	                        text: 'Date'
	                    }
	                },
	                yAxis: {
	                    title: {
	                        text: 'Number of Crimes'
	                    },
	                    min: 0,
	                    crosshair: true
	                },
	                rangeSelector: {
	                    selected: 1
	                },
	                tooltip: {
	                    formatter: function () {
	                        return '<b>Gambling</b><br/>' +
	                            Highcharts.dateFormat('%Y-%b-%e', this.x) + '<br/>' +
	                            Highcharts.numberFormat(this.y, 2);
	                    },
	                    headerFormat: '<b>{series.name}</b><br>'
	                },
	                plotOptions: {
	                    series: {
	                        connectNulls: true
	                    }
	                },

	                series: [{
	                    name: "Gambling",
	                    data: (function () {
	                        var dataPoints = [];
	                        var urlString = "crimedata/dataField";
	                        urlString = urlString.replace("dataField","Type_GAMBLING");
	                        //Use "ajax" instead of "getJSON"; "getJSON" runs code asynchronously, so returning "dataPoints" may return empty array if it runs before getJSON function (probable case)
	                            $.ajax({
	                                async: false,
	                                url: urlString,
	                                success: function(data){
	                                    //
	                                    var i;
	                                    
	                                    for (i = 0; i < data.length; i++) {
	                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i].Type_GAMBLING]);
	                                    }
	                                }
	                            })
	                        return dataPoints;
	                    }())
	                }]
	            });
				//Interference with Public Officers
				window.chart4 = new Highcharts.stockChart({
	                chart: {
	                    renderTo: "containerINTERFERENCE_WITH_PUBLIC_OFFICER"
	                },
	                title: {
	                    text: 'Interference with Public Officers'
	                },
	                xAxis: {
	                    type: 'datetime',
	                    dateTimeLabelFormats: {
	                        month: '%e. %b, %Y',
	                        year: '%Y'
	                    },
	                    title: {
	                        text: 'Date'
	                    }
	                },
	                yAxis: {
	                    title: {
	                        text: 'Number of Crimes'
	                    },
	                    min: 0,
	                    crosshair: true
	                },
	                rangeSelector: {
	                    selected: 1
	                },
	                tooltip: {
	                    formatter: function () {
	                        return '<b>Interference with Public Officers</b><br/>' +
	                            Highcharts.dateFormat('%Y-%b-%e', this.x) + '<br/>' +
	                            Highcharts.numberFormat(this.y, 2);
	                    },
	                    headerFormat: '<b>{series.name}</b><br>'
	                },
	                plotOptions: {
	                    series: {
	                        connectNulls: true
	                    }
	                },

	                series: [{
	                    name: "Interference with Public Officers",
	                    data: (function () {
	                        var dataPoints = [];
	                        var urlString = "crimedata/dataField";
	                        urlString = urlString.replace("dataField","Type_INTERFERENCE_WITH_PUBLIC_OFFICER");
	                        //Use "ajax" instead of "getJSON"; "getJSON" runs code asynchronously, so returning "dataPoints" may return empty array if it runs before getJSON function (probable case)
	                            $.ajax({
	                                async: false,
	                                url: urlString,
	                                success: function(data){
	                                    //
	                                    var i;
	                                    
	                                    for (i = 0; i < data.length; i++) {
	                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i].Type_INTERFERENCE_WITH_PUBLIC_OFFICER]);
	                                    }
	                                }
	                            })
	                        return dataPoints;
	                    }())
	                }]
	            });
				//Liquor Law Violation
				window.chart5 = new Highcharts.stockChart({
	                chart: {
	                    renderTo: "containerLIQUOR_LAW_VIOLATION"
	                },
	                title: {
	                    text: 'Liquor Law Violation'
	                },
	                xAxis: {
	                    type: 'datetime',
	                    dateTimeLabelFormats: {
	                        month: '%e. %b, %Y',
	                        year: '%Y'
	                    },
	                    title: {
	                        text: 'Date'
	                    }
	                },
	                yAxis: {
	                    title: {
	                        text: 'Number of Crimes'
	                    },
	                    min: 0,
	                    crosshair: true
	                },
	                rangeSelector: {
	                    selected: 1
	                },
	                tooltip: {
	                    formatter: function () {
	                        return '<b>Liquor Law Violation</b><br/>' +
	                            Highcharts.dateFormat('%Y-%b-%e', this.x) + '<br/>' +
	                            Highcharts.numberFormat(this.y, 2);
	                    },
	                    headerFormat: '<b>{series.name}</b><br>'
	                },
	                plotOptions: {
	                    series: {
	                        connectNulls: true
	                    }
	                },

	                series: [{
	                    name: "Liquor Law Violation",
	                    data: (function () {
	                        var dataPoints = [];
	                        var urlString = "crimedata/dataField";
	                        urlString = urlString.replace("dataField","Type_LIQUOR_LAW_VIOLATION");
	                        //Use "ajax" instead of "getJSON"; "getJSON" runs code asynchronously, so returning "dataPoints" may return empty array if it runs before getJSON function (probable case)
	                            $.ajax({
	                                async: false,
	                                url: urlString,
	                                success: function(data){
	                                    //
	                                    var i;
	                                    
	                                    for (i = 0; i < data.length; i++) {
	                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i].Type_LIQUOR_LAW_VIOLATION]);
	                                    }
	                                }
	                            })
	                        return dataPoints;
	                    }())
	                }]
	            });
			});
        </script>
    </body>
</html>