<!doctype html>
<html>
    <head>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <body>

        <div id="containerTempVsCrime" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <script>
        $(document).ready(function () {
            //TempVsCrime
            Highcharts.stockChart('containerTempVsCrime', {
                // chart: {
                //     zoomType: 'x',
                // },
                title: {
                    text: 'Temperature and Crime in Chicago'
                },
                subtitle: {
                    text: 'Average Temperature and Number of Reported Crimes'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b, %Y',
                        year: '%Y'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: [{
                    title: {
                        text: 'Temperature (°F)'
                    },
                    opposite: false,
                    min: -40,
                    crosshair: true
                }, {
                    title: {
                        text: 'Number of Crimes'
                    },
                    opposite: true,
                    min: 0,
                    crosshair: true
                }],
                rangeSelector: {
                    selected: 1
                },
                plotOptions: {
                    series: {
                        connectNulls: true
                    }
                },

                series: [{
                    name: "Temperature",
                    yAxis: 0,
                    data: (function () {
                        var dataPoints = [];
                            $.ajax({
                                async: false,
                                url: '/weatherdata',
                                success: function(data){
                                    console.log(data);
                                    var i;

                                    for (i = 0; i < data.length; i++) {
                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i].Tavg]);
                                    }
                                }
                            })
                        // });
                        return dataPoints;
                    }())
                }, {
                    name: "Crimes",
                    yAxis: 1,
                    data: (function () {
                        var dataPoints = [];
                            $.ajax({
                                async: false,
                                url: '/crimedata',
                                success: function(data){
                                    console.log(data);
                                    var i;

                                    for (i = 0; i < data.length; i++) {
                                        dataPoints.push([Date.UTC(data[i].Year, data[i].Month-1, data[i].Day),data[i]['Total Crimes']]);
                                    }
                                }
                            })
                        // });
                        return dataPoints;
                    }())
                  }]
            });
        });
        </script>


        <div id="containerCorrelations" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script>

      $(document).ready(function () {
		// Correlation Bar Chart
		Highcharts.chart('containerCorrelations', {
			chart: {
				type: 'column'
			},
			title: {
				text: 'Browser market shares. January, 2015 to May, 2015'
			},
			subtitle: {
				text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
			},
			xAxis: {
				type: 'category'
			},
			yAxis: {
				title: {
					text: 'Total percent market share'
				}

			},
			legend: {
				enabled: false
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%'
					}
				}
			},

			tooltip: {
				headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
				pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
			},

			series: [{
				name: 'Brands',
				colorByPoint: true,
				data: [{
					name: 'Tavg',
					y:  
                    (function () {
                        var output;
						$.ajax({
							async: false,
							url: '/predictivedata',
							success: function(data){
								console.log(data);
                                output = data
							}
						})
                        return output['corrData']['Tavg'];
                    }()),
					drilldown: 'Tavg'
				}, {
					name: 'Tmin',
					y:
                    (function () {
                        var output;
						$.ajax({
							async: false,
							url: '/predictivedata',
							success: function(data){
								console.log(data);
                                output = data
							}
						})
                        return output['corrData']['Tmin'];
                    }()),
					drilldown: 'Tmin'
				}, {
					name: 'Tmax',
					y:
                    (function () {
                        var output;
						$.ajax({
							async: false,
							url: '/predictivedata',
							success: function(data){
								console.log(data);
                                output = data
							}
						})
                        return output['corrData']['Tmax'];
                    }()),
					drilldown: 'Tmax'
				}, {
					name: 'Depart',
					y:
                    (function () {
                        var output;
						$.ajax({
							async: false,
							url: '/predictivedata',
							success: function(data){
								console.log(data);
                                output = data
							}
						})
                        return output['corrData']['Depart'];
                    }()),
					drilldown: 'Depart'
				}, {
					name: 'Precipitation',
					y:
                    (function () {
                        var output;
						$.ajax({
							async: false,
							url: '/predictivedata',
							success: function(data){
								console.log(data);
                                output = data
							}
						})
                        return output['corrData']['PrecipTotal'];
                    }()),
					drilldown: 'Precipitation'
				}, {
					name: 'Heat',
					y:
                    (function () {
                        var output;
						$.ajax({
							async: false,
							url: '/predictivedata',
							success: function(data){
								console.log(data);
                                output = data
							}
						})
                        return output['corrData']['Heat'];
                    }()),
					drilldown: 'Heat'
				}]
			}],
		});
      });

    </script>

    </body>
</html>
